:root {
  --background: #313445;
  --text-main: #c8d0f2;
  /* --text-muted: #a1a1aa; */
  --accent-main: #91c6be;
}

body {
  background: var(--background);
  font-family: var(--font-montserrat), sans-serif;
  color: var(--text-main);
}

/* Nav =================================== */
.nav-path-container {
  display: flex;
  gap: 0.5rem;
}
.nav-path-link {
  color: var(--accent-main);
  text-decoration: none;
  cursor: pointer;
}
