/* Break Points?
Mobile: max-width: 768px
Tablet: 769px–1024px
Desktop: 1025px+ */

/* Default Color Scheme v2.0 */
:root {
  --background: #2c3340;
  --background-semi-transparent: #2c3340bb;
  --text-main: #d0c5eb;
  --accent-main: #81c7ad;
}

body {
  background: var(--background);
  font-family: var(--font-montserrat), sans-serif;
  color: var(--text-main);
  min-height: 100vh;
  padding: 0;
  margin: 0;
  border: 0;
}

.text-accent-main {
  color: var(--accent-main);
}

/* Smooooooth? */
p {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  line-height: 2;
}

a {
  color: var(--text-main);
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: var(--accent-main);
  transition: color 0.2s ease;
}

.svg-icon {
  fill: var(--text-main);
  transition: fill 0.2s ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: clamp(1.5rem, 4vw, 3rem);
}

.opacity-80 {
  opacity: 0.8;
}
.opacity-60 {
  opacity: 0.6;
}
.opacity-40 {
  opacity: 0.4;
}

/* Nav =================================== */
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--background-semi-transparent);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.nav-inner-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.nav-path-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.nav-path-container a {
  margin-left: 0.5em;
  margin-right: 0.3em;
}
.nav-path-link {
  color: var(--accent-main);
  letter-spacing: 0.2em;
  text-decoration: none;
  cursor: pointer;
}

.blinking-cursor {
  display: inline-block;
  width: 1ch;
  height: 1.1rem;
  background-color: var(--accent-main);
  animation: blink 1.4s ease-in-out infinite;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
}

.nav-links-container,
.nav-links-container > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.nav-links-container > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-links-container a {
  color: var(--text-main);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
.nav-links-container a:hover {
  color: var(--accent-main);
  transition: color 0.3s ease;
}

/* Home Section ======================== */

.intro-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /* max-width: 800px; */
  margin: 2rem auto;
}

.intro-social-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  gap: 1rem;
}
.intro-social-links-container a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.intro-text-and-hero-image-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

/* Featured Projects Section ============ */
.featured-projects-section-container {
  margin: 2rem auto;
}
.featured-projects-cards-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* Featured Project Cards ============== */
.featured-project-card-container {
  background-color: var(--background);
  border: 1px solid var(--accent-main);
  border-radius: 8px;
  padding: 1rem;
}

/* About Page ============================== */
.about-content-container {
  display: flex;
  flex-direction: row;
}
